
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/storage/*
!/var/storage/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> psalm/phar ###
/psalm.xml
###< psalm/phar ###
